body {
    background-color: #36394d;
    color: #232743;
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 560px;
    width: 840px;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    margin: 250px auto;
    padding: 20px 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:600px) {
    .main {
        height: auto;
    }

    .grid {
        grid-template-columns: 1fr;
        flex-direction: row-reverse;

    }

}

/* === left side === */
.left {
    padding: 60px 30px;
}

.heading {
    font-size: 54px;
    margin: 0;
}

.description {
    font-size: 14px;
    line-height: 25px;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 30px 0;
    line-height: 35px;


}

.list_item {
    font-size: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* === Form === */
.email {
    font-size: 12px;
    font-weight: bold;
}

.input {
    height: 50px;
    width: 100%;
    max-width: 335px;
    border: 1px solid rgb(223, 213, 213);
    border-radius: 10px;
    margin: 10px 0;
    padding-left: 20px;
}

.button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #232743;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;

}

/* === right side === */
.img {
    height: 550px;
    border-radius: 30px;
    padding: 0;
}